<div style="margin-top: 20px; margin-bottom: 50px;">
    <div class="custom-media d-flex">
        <div class="img mr-4">
            <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div action="#">
            <div class="form-group">
                <p>Name: <span>{{obj.name}}</span>
                </p>
            </div>
            <div class="form-group">
                <p>Age: <span>{{obj.age}}</span>
                </p>

            </div>
            <div class="form-group">
                <p>Position: <span>{{obj.position}}</span>
                </p>

            </div>
            <div class="form-group">
                <p>Number: <span>{{obj.number}}</span>
                </p>

            </div>
        </div>
    </div>
</div>